<!DOCTYPE html>
<html>
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA_TRACKING_ID'] %>"></script>
  <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', '<%= ENV['GA_TRACKING_ID'] %>');
  </script>
    <title><%= title(page_title: @page_title || "飲食店や映画館をおトクに利用しよう") %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield :head %>
  </head>

  <body>
    <div id="Header">
      <label for="MenuButton"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></label>
      <%= image_set_tag 'logo.png', srcset: { 'logo@2x.png' => '2x' }, options: { size: '175x35' } %>
      <%= yield :h1 %>
    </div>

    <%= render partial: 'layouts/menu' %>

    <%= yield %>
  </body>
</html>
