<!doctype html>
<html amp lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title(page_title: @page_title) %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom><%= render_css('application-amp.scss') %></style>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= yield :head %>
  </head>
  <body>
    <amp-analytics type="googleanalytics" id="analytics1">
      <script type="application/json">
      {
        "vars": {
          "account": "<%= ENV['GA_TRACKING_ID_AMP'] %>"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          }
        }
      }
      </script>
    </amp-analytics>
    <div id="Header">
      <div>
        <label for="MenuButton"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></label>
        <%= image_set_tag 'logo.png', srcset: { 'logo@2x.png' => '2x' }, options: { size: '175x35' }, amp: true %>
      </div>
      <%= yield :h1 %>
    </div>
    <%= render partial: 'layouts/menu' %>
    <%= yield %>
  </body>
</html>
